if session
  if session.status
    div(class="announcement")
      div(class="inner-announcement")
        span= session.status
  if session.error
    div(class="announcement")
      div(class="inner-announcement")
        span= 'An error has occured: ' + session.error