head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title= pageTitle + ' | ' + serverTitle
  link(rel="stylesheet", href="/static/styles/main.css") 
  meta(name="description", content=`${metaDescription}`)
  meta(name="keywords", content=`${metaKeywords}`)
