if status
  div(class="status-container")
    div(class="status-container-content status-container-info")
      p= status
if error
  div(class="status-container")
    div(class="status-container-content status-container-error")
      p= 'An error has occured: ' + error