include includes/globals

- const pageTitle = 'About'
- const currentPath = ['about']
- const metaDescription = 'Learn about Counter-Strike Online 2 and the custom master server for it.'

doctype html
html(lang="en")  
  include includes/head
  body
    include includes/background
    div(class="wrapper")
      include includes/logo
      include includes/announcement
      include includes/statusbar
      include includes/sidebar
      div(class="content")
        div(class="title")
          h3 About
        h4 About the game
        p Counter-Strike Online 2 is a multiplayer first person shooter developed and published by Nexon Corporation
        p Between 2017 and 2018, CSO2's game servers were shutdown
        p As a replacement, a free and open source game server was created for the game
        p The game server's source code is available at 
          a(href='https://github.com/L-Leite/cso2-master-server') https://github.com/L-Leite/cso2-master-server
        h4 Data Disclaimer
        p This website stores a cookie in your computer to remember your logged in user's session
        p By creating an account, your user name, player name and password will be saved in a database, along with player statistics such as kills and wins
        p When logging in to the master server through CSO2, your IP address, client and server ports and the room you're currently in will be saved in the database, until you log off from or exit CSO2
        p You may delete your account by 
          a(href='/login') login in
          |  and 
          a(href='/user/delete') going here
        p Counter-Strike Online 2 is owned by Valve Software and Nexon Corporation and neither are associated with this