include includes/globals

- const pageTitle = 'Create a new account'
- const currentPath = ['account', 'sign up']

doctype html
html(lang="en")  
  include includes/head
  body
    include includes/background
    div(class="wrapper")
      include includes/logo
      include includes/announcement
      include includes/statusbar
      include includes/sidebar
      div(class="content")
        div(class="title")
          h3 Create a new account
        form(action="/do_signup", method="post") 
          include includes/antibotfield
          div(class="form-item")
            span username:
            input(type="text", name="username" required="true")
          div(class="form-item")
            span ingame name:
            input(type="text", name="playername" required="true")
          div(class="form-item")
            span password:
            input(type="password", name="password" required="true")
          div(class="form-item")
            span repeat your password:
            input(type="password", name="confirmed_password" required="true")

          div(class="form-item")
            span security question:
            select(name="security_question" required="true")
              each val, index in questions
                option(value=`${index}`) #{val}
          div(class="form-item")
            span answer:
            input(type="text", name="security_answer" required="true")
          div(class="form-item")
            input(type="submit", value="Create" class="button")
          div(class="help-url")
            a(href='/login', class="help-url") Log in to an existing account
          div(class="help-url")
            a(href='/recover_pw') Recover your password
